body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-size: 20px
}

nav {
  background-color: #2e2e2e;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div a {
  font-size: 25px;
  color: #cdbe67;
  text-decoration: none;
  text-align: center;
  margin-right: 1em;
}

a {
  color: #cdbe67;
  text-decoration: none;
}

input {
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: skyblue;}

.logo-image {
  width: 14%;
  height: 100%;
  background-image: url("../images/hawks_logo.png");
  background-size: 100% 100%;
  cursor: pointer;
}

.page-content {
  padding-left: 5%;
  padding-right: 5%;
}
