<h1> Seja bem vindo ao Clinickr, sua plataforma de consulta de exames </h1>
<p> O que deseja fazer neste sistema?</p>
<a href="exams"> Consultar exame</a>
<a href="upload"> Subir base de exames</a>
<%= @bla%>
