<h1>Clinickr a sua plataforma de consulta de exames </h1>
<h3> Acrescente alguma base de dados ao sistema</h3>
<form action="/save_data" method="post" enctype="multipart/form-data">
  <label for="myfile">Selecione o Arquivo:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <input type="submit">
</form>