<h2> Resultado da Busca: </h2>

<% if @result.empty?%>
  <p>Houve um erro na comunicação com a empresa que nos fornece os dados dos vôos. Por favor, tente novamente.</p>
<% else %>
  <% @result.each do |flight| %>
    <% if flight.class == Array %>
      <p>Partida: <%= flight.first %></p>
      <p>Retorno: <%= flight.last %></p>
      <br>
    <% else %>
      <p><%= flight %></p>
    <% end %>
  <% end %>
<% end %>