<h2> Lista de todas pesquisas já feitas: </h2>
<br>
<table>
  <tr>
    <th>Partida</th>
    <th>Retorno</th>
    <th>Data de Ida</th>
    <th>Data de Retorno</th>
  </tr>
  <% @searches.each do |search| %>
    <tr>
      <td><%= search.route_origin %></td>
      <td><%= search.route_destiny %></td>
      <td><%= search.departure_date %></td>
      <td><%= search.return_date %></td>
    </tr>
  <% end %>
</table>
<br><br>
<p>Para voltar a página de pesquisa <a href="/searches">clique aqui</a></p>
